.row-header {
  background-color: lightblue; }

.nav-bar {
  background-color: darkcyan; }

.btn-round {
  border-radius: 25px; }

.row-content-learn {
  padding: 20px;
  text-align: center; }

.learning-card {
  border: 2px solid black; }

.language-score-modal-text {
  text-size-adjust: 150%;
  text-align: center; }

.modal-header {
  background-color: lightblue; }

.modal-content {
  background-color: lightcyan; }

.modal-footer {
  background-color: lightblue; }
